@import "./modules/node_modules/modern-normalize/modern-normalize.css";

@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-thin-webfont.woff2") format("woff2"),
         url("./fonts/roboto-thin-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-light-webfont.woff2") format("woff2"),
         url("./fonts/roboto-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"),
         url("./fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-bold-webfont.woff2") format("woff2"),
         url("./fonts/roboto-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

:root {
    --indigo-50: #eef2ff;
    --indigo-100: #e0e7ff;
    --indigo-200: #c7d2fe;
    --indigo-300: #a5b4fc;
    --indigo-400: #818cf8;
    --indigo-500: #6366f1;
    --indigo-600: #4f46e5;
    --indigo-700: #4338ca;
    --indigo-800: #3730a3;
    --indigo-900: #312e81;
    --indigo-950: #1e1b4b;
}

.page.library {
    display: grid;
    grid-template-rows: 200px 1fr;
    place-items: center;
    background-color: var(--indigo-100);
}

.title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 100%;
    height: 100%;
    background-color: var(--indigo-400);
    box-shadow: 0 7px 10px -10px var(--indigo-950);
    border-radius: 0 0 12px 12px;
    user-select: text;
    z-index: 1;
}

.title-description {
    max-width: 80ch;
    color: var(--indigo-100);
    font-family: "roboto", system-ui, "Arial", "Helvetica", sans-serif;
    font-weight: 300;
}

.title-heading {
    color: var(--indigo-50);
    font-family: "roboto", system-ui, "Arial", "Helvetica", sans-serif;
}

.books-container {
    width: 100%;
    padding: 2em;
    background-color: var(--indigo-50);
    user-select: text;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

.book-card {
    padding: 1.5em;
    background-color: var(--indigo-400);
    border-radius: 12px;
    box-shadow: 7px 7px 10px -10px var(--indigo-950);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.book-icons {
    align-self: end;
    display: grid;
    grid-template-columns: 1.8em 1.8em;
    column-gap: 1em;
    justify-content: end;
    fill: var(--indigo-50);
    margin-top: auto;
}

.book-icons svg {
    cursor: pointer;
}

.book-title {
    font-family: "roboto", system-ui, "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    color: var(--indigo-50);
    font-size: 2em;
}

.book-author {
    font-family: "roboto", system-ui, "Arial", "Helvetica", sans-serif;
    font-weight: 300;
    color: var(--indigo-100);
    margin-bottom: 1.5em;
}

.book-pages,
.book-description {
    font-family: "roboto", system-ui, "Arial", "Helvetica", sans-serif;
    font-weight: normal;
    color: var(--indigo-100);
    text-align: left;
    margin-bottom: 1em;
    font-weight: 300;
}








